@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.recommended-artist-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.recommended-artist-scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.navbar-scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fade-effect {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 93%,
      rgba(0, 0, 0, 0.1) 99%,
      rgba(0, 0, 0, 0.1) 0
    )
    100% 100% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.right-shadow {
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.fade-out-effect {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  /* Other styling for your container */
}

/* This will create a shadow at the end of the container */
.fade-out-effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px; /* Width of the shadow effect */
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  pointer-events: none; /* So that it doesn't interfere with scrolling or clicking */
}

/* For webkit browsers like Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar to your preference */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
}

::-webkit-scrollbar-thumb {
  background: #3730a3; /* Deep blue thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3730a3; /* Slightly darker blue on hover for better user interaction */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* You can use "auto", "thin", or "none" */
  scrollbar-color: #3730a3 #f1f1f1; /* Deep blue thumb and light grey track */
}

.placeholder-indigo-700::placeholder {
  color: #4f46e5; /* Tailwind's indigo-700 color */
}
